@import "../scss/variables.scss";

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #15161a;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.awesome-box {
  position: relative;
  width: 90px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 25px);
    height: calc(100% - 2px);
    border: 1px solid #1e2126;
    transition: transform 0.5s ease-in-out;
    pointer-events: none;
  }

  &:hover::before {
    border-color: $logo-hover;
    transform: rotate(360deg);
  }

  span {
    display: inline-block;
    color: #1e2126;
    position: relative;
    z-index: 1;

    &:hover {
      color: $header-text;
    }
  }
}

.nabthat {
  margin: 0 auto;
  color: #9aa0ae;
}

.show-btn {
  position: relative;

  .toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    width: 15rem;
    margin-right: 4rem;
    background: transparent;
    border: 2px solid #232429;
    border-radius: 5%;
    color: #9aa0ae;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s, border-color 0.3s; 
    text-decoration: none;

    &:hover {
      border-color: #e0e1e2;
      color: #e0e1e2;

      .arrow-icon {
        fill: #e0e1e2;
      }
    }

    .arrow-icon {
      fill: #9aa0ae;
      height: 1em;
      width: 1em;
      margin-left: 8px; 
    }
  }
}

.panel-wrapper {
  margin-right: 2rem;
  position: absolute;
  bottom: 6.45rem; 
  border-radius: 2%;
  right: 0; 
  width: fit-content;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1); 
  z-index: 10;

  .panel {
    padding: 1rem;
    z-index: 1; 

    .panel-btn {
      font-size: 12px; 
      width: 15rem; 
      margin: 0.5rem;
      background: transparent;
      color: #363636;
      padding: 0.5rem 1rem;
      border: none; 
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s; 
    
      &:hover {
        color: $logo-hover;
    
        .hoverable {
          fill: $logo-hover;
        }
      }
    }
  }
}
    .hoverable {
      fill: #363636; 
      transition: fill 0.3s; 
    }