<div class="long-text-block">
    <div class="heading">
        BLOK Z DŁUGĄ NAZWĄ KTÓRA SAMA SIĘ PRZYTNIE...
    </div>
    <div class="long-text">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec
            purus nec nisl lacinia ultricies. Nullam nec purus nec nisl lacinia
            ultricies. Nullam nec purus nec nisl lacinia ultricies. Nullam nec
            purus nec nisl lacinia ultricies. Nullam nec purus nec nisl lacinia
            ultricies. Nullam nec purus nec nisl lacinia ultricies. Nullam nec
            purus nec nisl lacinia ultricies. Nullam nec purus nec nisl lacinia
            ultricies. Nullam nec purus nec nisl lacinia ultricies. Nullam nec
            purus nec nisl lacinia ultricies. Nullam nec purus nec nisl lacinia
            ultricies. Nullam nec purus nec nisl lacinia ultricies. Nullam nec
            purus nec nisl lacinia ultricies. Nullam nec purus nec nisl lacinia
            ultricies. Nullam nec purus nec nisl lacinia ultricies. Nullam nec
        </p>
</div>
